body {
    margin: 0;
    padding: 0;
    background-color: #191919;
}

#input-container {
    position:absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    height: 60px;
    width: 400px;
}

#text-field {
    background-color: lightgray;
    height: 40px;
    width: 350px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.image-button {
    border: none;
    background-color: transparent;
    margin-left: -40px;
}
.image-button img {
    width: 23px; 
    height: 23px;
    background-color: transparent;
    border: none;
    background-size: cover;
    cursor: pointer;
    margin-top: 3px;
  }

#message-container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    height: 1000px;
    background-color: #191919 ;
    overflow-y: scroll; 
}

#id-container {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 400px;
    height: 70px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-field {
    background-color: lightgray;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.name {
    background-color: #00a3cd;
    width: min-content;
    min-width: 40px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -14px;
    color: white;
    
}

.message {
    background-color: transparent;
    width: min-content;
    min-width: 400px;
    height: 30px;
    display: flex;
    justify-content:left;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.timeStamp {
    background-color: transparent;
    width: min-content;
    
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -18px;
    color: black;
    font-size:small;
    float: right;
}

.innerMessageContainer {
    background-color: transparent;
    border: solid;
    border-width: 2px;
    border-color: lightgray;
    width: min-content;
    min-height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

